body{
    background-color: lightskyblue;
    /* text-align: center; */
}

h1{
    font-size: 90px;
    color: darkgoldenrod;
    text-align: center;
}

img{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

.banner{
    background-color: white !important;
    padding-bottom: 20px;
}

p{
    text-align: center;
    font-size: 80px;
    font-weight: 20px;
}